@font-face {
  font-family: 'reza';
  src: local('reza'), url('./font/woff2/dana-fanum-black.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'Neyramis';
  src: local('Neyramis'), url('./font/Yekan.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'majid';
  src: local('majid'), url('./font/woff2/dana-fanum-light.woff2') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'fateme';
  src: local('fateme'),
    url('./font/woff2/dana-fanum-regular.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'mobina';
  src: local('mobina'),
    url('./font/WebsimaRohanRound-Regular.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'zarichi';
  src: local('zarichi'), url('./font/farsi/BJalal.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'yara';
  src: local('yara'), url('./font/farsi/BMorvarid.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'manije';
  src: local('manije'), url('./font/farsi/BNarm.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'sia';
  src: local('sia'), url('./font/farsi/BTabassom.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'zia';
  src: local('zia'), url('./font/farsi/BZiba.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'afshin';
  src: local('afshin'), url('./font/farsi/BKourosh.woff') format('woff');
  font-weight: normal;
}
