@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./eot/dana-fanum-light.eot');
  src: url('./eot/dana-fanum-light.eot?#iefix') format('embedded-opentype'),
    url('./woff2/dana-fanum-light.woff2') format('woff2'),
    url('./woff/dana-fanum-light.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./eot/dana-fanum-medium.eot');
  src: url('./eot/dana-fanum-medium.eot?#iefix') format('embedded-opentype'),
    url('./woff2/dana-fanum-medium.woff2') format('woff2'),
    url('./woff/dana-fanum-medium.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./eot/dana-fanum-bold.eot');
  src: url('./eot/dana-fanum-bold.eot?#iefix') format('embedded-opentype'),
    url('./woff2/dana-fanum-bold.woff2') format('woff2'),
    url('./woff/dana-fanum-bold.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./eot/dana-fanum-regular.eot');
  src: url('./eot/dana-fanum-regular.eot?#iefix') format('embedded-opentype'),
    url('./woff2/dana-fanum-regular.woff2') format('woff2'),
    url('./woff/dana-fanum-regular.woff') format('woff');
}

@font-face {
  font-family: Neyrami;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./Yekan.eot');
  src: url('./Yekan.eot?#iefix') format('embedded-opentype'),
    url('./Yekan.woff') format('woff'),
    url('./neyrami.woff2') format('woff2');
}

@font-face {
  font-family: Bneyrami;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./neyrami.woff2') format('woff2'),
       url('./neyrami.woff2') format('woff')
       url('./WebsimaRohanRound-Regular.ttf') format('truetype')
}

@font-face {
  font-family: Farnaz;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./farsi/BBaran.eot');
  src: url('./farsi/BBaran.eot?#iefix') format('embedded-opentype'),
    url('./farsi/BBaran.woff') format('woff');
}

